{# templates/items.html #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Items</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    {% include 'header.html' %}
    <h1>Welcome to myShop - me!</h1>
    <ul>
        <h2 style="color: beige;">List of prodcts</h2>
        {% if items %}
            {% for item in items %}
            <li style="color: rgb(37, 248, 22); list-style: none; padding: 0.5rem;">{{ item }}</li>
            {% endfor %}
        {% else %}
            <p style="font-weight: bolder;">No items found</p>
        {% endif %}
    </ul>
    {% include 'footer.html' %}
</body>
</html>
