{# templates/product_display.html #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Product Display</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    {% include 'header.html' %}
    <h1>Welcome to myShop - Products Page!</h1>
    <div>
        {% if error %}
            <p style="color: red; font-weight: bold;">{{ error }}</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <td style="color: white;">ID</td>
                        <td style="color: white;">Name</td>
                        <td style="color: white;">Category</td>
                        <td style="color: white;">Price</td>
                    </tr>
                </thead>
                <tbody>
                    {% for product in data %}
                    <tr>
                        <td style="color: white;">{{ product.id }}</td>
                        <td style="color: white;">{{ product.name }}</td>
                        <td style="color: white;">{{ product.category }}</td>
                        <td style="color: white;">{{ product.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
